@import 'core/settings';
@import 'core/links';

body {
	margin: 0;
	height: 100vh;
}

.container{
	border: 2px solid grey;
	padding: 30px;
	opacity: 80%;
}

.ingredients{
	&__list{
		min-height: 80px;
		color: darkblue;
		display: flex;
		justify-content: center;
		align-items: center;
	}&__checkbox{
		color: red;
	}&__input{
		min-height: 50px;
		min-width: 80px;
	}&__info{
		font-size: 10px; //aquí ni puto caso
	}
}