<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="./assets/css/main.css">
  <title>My Shop List</title>
</head>

<body>
  <main class="container">
    <h4>INGREDIENTES</h4>
    <h1 class="js-title"></h1>
    <div>
      <button>Seleccionar todo</button>
      <button>Deseleccionar todo</button>
    </div>

    <div>
      <ul class="js-ingredientsList"></ul>
    </div>
    <p class="js-totalItems"></p>
    <p class="js-subtotal"></p>
    <p class="js-shippingCost"></p>
    <p class="js-total"></p>
    <button>Comprar ingredientes: <span class="js-buyButton">0</span>€</button>
  </main>
  <script type="text/javascript" src="./assets/js/main.js"></script>
</body>

</html>